/* I am
******************************/
body, html{width:100%; height:100%;}
body{min-width:310px; min-height:100%; height:auto; margin:0; padding:0; background-color:#efefef; background-repeat:no-repeat; color:#000; font:14px/1.2 Arial, Helvetica, sans-serif;
    background-image: -webkit-linear-gradient(#fff 0%, #efefef 100%);
    background-image: -o-linear-gradient(#fff 0%, #efefef 100%);
    background-image: linear-gradient(#fff 0%, #efefef 100%);
}

a{cursor:pointer; outline:none; text-decoration:none; color:#f60;
    -webkit-transition:color .2s;
            transition:color .2s;
}
    a img{float:left; padding:3px; border:1px solid #666; box-shadow:2px 2px 4px rgba(0,0,0,.45); h
        -webkit-transition:border-color .25s;
                transition:border-color .25s;
    }
:focus{outline:none;}

h1, h2, h3, h4, p, form, input, table, tr, td, th, ul, li{margin:0; padding:0; font-weight:normal;}
header, section, footer, aside, nav, article, figure{display:block;}
table, tr, td{border:0; border-collapse:collapse; vertical-align:top; text-align:left;}

ul{list-style:none;}

/* Base
******************************/
.nowrap{white-space:nowrap;}
.small{font-size:.8em; color:#666;}

/* Main
******************************/
.main{max-width:1152px; width:70%; margin:0 auto;}

section, article, nav{padding:0 10px 20px;}
section{min-height:410px;}

/* Header
******************************/
header{overflow:hidden; padding:10px; font-size:16px; font-family:Georgia, 'Times New Roman', Times, serif;}
    header a{color:black; text-shadow:1px 1px rgba(255,255,255,.7);}
    .contact{text-align:center; overflow:hidden;}
        .contact a + a{margin-left:20px;}

.logo{float:left; font-style:italic; text-shadow:1px 1px rgba(255,255,255,.7);}
.profile{float:right; margin-left:10px; padding-left:12px;}
    .profile .icon{position:relative; display:inline-block; width:10px; height:10px; border:1px solid; border-radius:50%; margin:0 3px 0 -12px;
        -webkit-transition:all .2s;
                transition:all .2s;
        -webkit-font-smoothing: subpixel-antialiased !important;

        -webkit-backface-visibility:hidden;
           -moz-backface-visibility:hidden;
            -ms-backface-visibility:hidden;
                backface-visibility:hidden;
    }
        .profile .icon:before{content:''; position:absolute; display:block; width:0; height:0; left:2px; top:3px; border:1px solid;
            -webkit-box-shadow:4px 0;
                    box-shadow:4px 0;
        }
        .profile .icon:after{content:''; position:absolute; display:block; bottom:2px; left:2px; width:6px; height:5px; border-radius:50%; border-style:solid; border-width:0 0 1px 0;}

/* Content
******************************/
h1{padding:25px 15px 25px; font:bold 2em Georgia, 'Times New Roman', Times, serif; text-align:center; text-shadow:1px 1px 1px #fff;}
h2{margin-bottom:10px;}

article{font-size:15px; line-height:1.8;}
    article p{text-align:justify;}
    article p:first-child, article h2 + p{text-indent:15px;}
    article p + p, article ul + p{margin-top:1.2em;}
    article .img{position:relative; float:left; margin:0 20px 8px 0; box-shadow:0 0 1px #f60;}
        article .img:before, .img img{
            -webkit-transition:opacity .5s linear 0s;
                    transition:opacity .5s linear 0s;
        }
        article .img:before{content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:url(../images/prosperity.png) 50% 50% no-repeat; z-index:-1; opacity:0;}
        .img img{position:relative; display:block; opacity:1; z-index:1;}
    article b{color:#222;}
    article a{text-decoration:underline;}
    article .tel{text-decoration:none;}
    article ul{padding:.5em 0 1em 10px;}
    article li{position:relative; padding:1px 0 1px 15px;}
        article li + li{margin-top:5px;}
        article li:before{content:''; display:block; position:absolute; top:12px; left:0; border:3px solid; color:#F60;
            -webkit-transform:rotate(45deg);
                    transform:rotate(45deg);

            -webkit-transition:all .2s;
                    transition:all .2s;
        }
    article .h3{margin:1.3em 0 0; font-weight:bold;}
    article ul + .h3{margin:.6em 0 0; font-weight:bold;}
    .note{font-size:12px; font-style:italic; opacity:.7}

nav{margin:1.4em auto 1.1em; letter-spacing:15px; text-align:center;}
    nav a{position:relative; display:inline-block; vertical-align:top; text-decoration:none; width:250px; border:1px solid #f60; line-height:40px; font-size:18px; text-align:center; color:#333; letter-spacing:normal;

        -webkit-transition:all .25s;
                transition:all .25s;

        -webkit-box-sizing:border-box;
           -moz-box-sizing:border-box;
                box-sizing:border-box;
    }
    nav a:before{content:''; display:block; position:absolute; top:0; left:0; height:100%; width:0; background-color:#f60; z-index:-1;
        -webkit-transition:all .25s;
                transition:all .25s;
    }

.promo{padding:5px 15px 20px; text-align:center; font-size:1.4em; font-style:italic;}

.info_box_list li{margin:0; padding:10px 0; min-height:115px; position:relative;
    -webkit-hyphens:auto;
       -moz-hyphens:auto;
         -o-hyphens:auto;
            hyphens:auto;
}
    .info_box_list li + li{border-top:1px solid #000;}
        .info_box_list li + li:before{content:''; position:absolute; top:0; right:0; border-width:15px 0 15px 15px; border-style:solid; border-color:#000 transparent transparent;}
        .info_box_list li > a{float:left; margin:2px 15px 5px 0;}

    .title{margin-left:123px; line-height:20px;}
        .title a{display:inline-block; vertical-align:top; color:#000; font-weight:bold;}
            .title a:first-letter{text-transform:uppercase; color:#666;
                -webkit-transition:color .25s;
                        transition:border-color .25s;
            }
    .info_box_list p{line-height:1.4;}

.git_lnk{position:relative; display:inline-block; top:-3px; width:20px; height:20px; background:url(../images/github_icon.png) 0 0 no-repeat;}
    a + .git_lnk{margin-left:10px;}

    .temp{width:106px; height:106px; border:1px solid #666; background:#fff url(../images/temp.png) 50% 0 no-repeat;
        -webkit-transition:all .5s;
                transition:all .5s;
    }

.context_menu{font-size:12px; text-align:center;}
    .context_menu a{margin:0 5px;}
        .context_menu a:before{content:'<-- '}
        .context_menu a:after{content:' -->'}

footer{padding:0 10px 10px; text-align:center;}


/*Response
******************************/
@media only screen and (min-width:1004px){
    a:hover{text-decoration:none;}
        a:hover img{border-color:#F60;
            -webkit-transform:scale(1.01);
                    transform:scale(1.01);
        }
    .title a:hover{color:#F60;}

    .profile:hover .icon{color:#F60;}

    article li:hover:before{
        -webkit-transform:rotate(45deg) scale(1.5);
                transform:rotate(45deg) scale(1.5);
    }

    article .img:hover:before, article .img:hover img{
        -webkit-transition:opacity 3s linear 3s;
                transition:opacity 3s linear 3s;
    }
    article .img:hover:before{opacity:1;}
    article .img:hover img{opacity:0;}

    nav a:hover{color:#fff;}
        nav a:hover:before{
            width:100%;
        }

    .info_box_list li{padding-top:20px; padding-bottom:20px;}
    .info_box_list p{line-height:1.8;}
        .info_box_list li > a:hover + .title a{color:#F60;}

    .git_lnk:hover{background-position:0 -20px;}
        .temp:hover{background-position:0 -100px; border-color:#F60;}

}
@media only screen and (max-width:1004px){
    .main{width:100%; padding:0 20px; box-sizing:border-box;}
    h1{padding-top:10px;}
}

@media only screen and (max-width:767px){
    .main{width:96%; padding:0 0 0 5px;}
    .contact{display:none;}

    section, article{min-height:0;}

    h1{padding-bottom:15px; font-size:1.5em;}

    li{padding:20px 0;}

    article p{font-size:14px; text-align:justify;}
}

@media only screen and (max-width:480px){
    nav a + a{margin-top:20px;}
}